@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/user-list-view.css');
@import url('./views/all-users-view.css');
@import url('./views/community-chat-view.css');
@import url('./views/feedback-view.css');
@import url('./views/support-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/montserrat');
@import url('./views/login-view.css');
@import url('./views/register-user.css');
@import url('./views/user-activation-view.css');
@import url('./views/forgot-password-view.css');
@import url('./views/forgot-password-token-verification.css');
@import url('./views/user-profile-view.css');
@import url('./views/change-password-view.css');
@import url('./views/faq-view.css');

html {
    --lumo-primary-text-color: hsl(241, 79%, 44%);
    --lumo-font-family: Montserrat;

}

vaadin-button, vaadin-text-field {
    cursor: pointer;
}

vaadin-text-field, vaadin-combo-box {
    --lumo-border-radius-m: 1em;
}