.change-password-view-parent-vl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    box-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 40px #ff4b2b, 0 0 80px #ff4b2b;
    transition: background 45s ease;
}


.change-password-div {
    width: 400px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    animation: password-change-view-slideInUp-for-div 1s ease, password-change-view-fadeIn-for-div 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-duration: 1s;
    position: relative;
    transition: scale 0.3s ease;
}
.change-password-div:hover {
    scale: 1.1;
}
.change-password-div::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    /*background: linear-gradient(to right, #ff416c, #ff4b2b);*/
    filter: blur(15px);
    opacity: 0.8;
    animation: password-change-view-glow 2s ease-in-out infinite;

    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

@keyframes password-change-view-slideInUp-for-div {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes password-change-view-fadeIn-for-div {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes password-change-view-glow {
    0% {
        opacity: 0.8;
        filter: blur(20px);
    }
    50% {
        opacity: 0.5;
        filter: blur(40px);
    }
    100% {
        opacity: 0.8;
        filter: blur(20px);
    }
}

.change-password-view-wow {
    animation-name: change-password-view-bounceIn-animation;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes change-password-view-bounceIn-animation {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.change-password-h3 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    animation: pulse 2s infinite;
}

.change-password-form-layout {
    margin: 0 -10px;
}

.change-password-submit-request-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    transition: all 0.3s ease;
}

.change-password-submit-request-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.change-password-submit-request-button:active {
    background-color: #007bff;
    transform: scale(0.95);
}

.change-password-cur-pass-field,
.change-password-new-pass-field,
.change-password-confirm-pass-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
}

.change-password-cur-pass-field:focus,
.change-password-new-pass-field:focus,
.change-password-confirm-pass-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.change-password-cur-pass-field:invalid,
.change-password-new-pass-field:invalid,
.change-password-confirm-pass-field:invalid {
    border-color: #dc3545;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.change-password-cur-pass-field::placeholder,
.change-password-new-pass-field::placeholder,
.change-password-confirm-pass-field::placeholder {
    color: #ccc;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
