/* Styling for the FAQView layout */
.faq-view-parent-v {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@keyframes scale-in {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation to the view */
.faq-view-parent-v {
    animation-name: scale-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* Styling for the main FAQ sections container */
.faq-view-main-div-card {
    max-width: 800px;
    width: 100%;
}

/* Styling for each FAQ section */
.faq-view-faq-section {
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: height 0.9s ease;
    height: auto;
    background: linear-gradient(to right, #f6d365, #fda085);
}

/* Styling for the FAQ question header */
.faq-view-faq-question-h3 {
    margin: 0;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    /*background: linear-gradient(to right, #ffafbd, #ffc3a0);*/
}

/* Styling for the FAQ answer content */
.faq-view-section-answer {
    display: none;
    margin: 0;
    padding: 1rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(to right, #7baafa, #c2e9fb);
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

/* Styling for the FAQ tab */
.faq-view-faqTab {
    cursor: pointer;
    padding: 1rem;
    color: #333;
}

/* Styling for the expanded FAQ answer content */
.faq-view-expand-answer .faq-view-section-answer {
    display: block;
    animation-name: faq-view-bounce-in;
}

.faq-view-collapse-answer .faq-view-section-answer {
    animation-name: faq-view-bounce-out;
}

/* Hover styles for FAQ sections */
.faq-view-faq-section:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #f5576c, #f093fb);
}

/* Hover styles for FAQ questions */
.faq-view-faq-question-h3:hover {
    color: #b60ee8;
}

/* Hover styles for FAQ answers */
.faq-view-section-answer:hover {
    background: #00B4DB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

/* Active styles for FAQ questions */
.faq-view-faq-section:active {
    background: linear-gradient(to right, #1e53d0, #ce13a2);
}

/* Active styles for FAQ answers */
.faq-view-section-answer:active {
    background: linear-gradient(to right, #42c7ba, #4a2ec9);
    color: #fff;
}

/* Add expand/collapse icons to the FAQ question headers */
.faq-view-faq-question-h3::before {
    content: '⇨';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("https://icons8.com/icon/oOgxPXn20qdc/triangle-arrow");
    background-size: contain;
    background-repeat: repeat;
    transition: transform 0.3s ease;
}

/* Change the icon's orientation when the FAQ answer is expanded */
.faq-view-expand-answer .faq-view-faq-question-h3::before {
    transform: rotate(90deg);
}

/*!* Animation for fade in/out effect *!*/
/*@keyframes faq-view-fade-in-out {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    25% {*/
/*        opacity: 0.25;*/
/*    }*/
/*    50% {*/
/*        opacity: 0.5;*/
/*    }*/
/*    75% {*/
/*        opacity: 0.7;*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*!* Styling for the expanded FAQ answer content *!*/
/*.faq-view-expand-answer .faq-view-section-answer {*/
/*    display: block;*/
/*    animation-name: faq-view-fade-in-out;*/
/*    animation-duration: 0.5s;*/
/*}*/

/* Animation for bouncing in the answer */
/* Todo: Fix the bug with the bounce out animation where it's not visible */
@keyframes faq-view-bounce-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(25%);
    }
    75% {
        transform: translateY(-10%);
    }
    90% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* Animation for bouncing out the answer */
@keyframes faq-view-bounce-out {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    25% {
        transform: translateY(5%);
    }
    40% {
        transform: translateY(-10%);
    }
    50% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* Adding styles for edit and delete faq operations */

.faq-view-faq-edit-icon,
.faq-view-faq-delete-icon {
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.faq-view-faq-edit-icon:hover,
.faq-view-faq-delete-icon:hover {
    color: #333;
    transform: scale(1.1);
}

.faq-view-faq-edit-icon:active,
.faq-view-faq-delete-icon:active {
    color: #000;
    transform: scale(0.9);
}

.faq-view-faq-delete-icon {
    position: relative;
    overflow: hidden;
}

.faq-view-faq-delete-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.faq-view-faq-delete-icon:hover::before {
    width: 200%;
    height: 200%;
}

.faq-view-faq-delete-icon:active::before {
    width: 300%;
    height: 300%;
}

/* 404 Not found image css */
.faq-view-not-found-img-container {
    width: 100%;
    height: auto;
    max-width: 500px; /* adjust the size based on your needs */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
    background: linear-gradient(45deg, #a54ba3, #8254a4, #4a5fa4, #4a8ca4, #4aa490, #4ba54b, #8ca44a, #a4904a, #a54b4b);
    filter: hue-rotate(180deg); /* adjust the hue rotation angle based on your needs */
    animation: change-gradient 3s ease-in-out infinite;
}

.faq-view-not-found-img {
    display: block;
    cursor: pointer;
    border-radius: 40px;
    max-width: 750px;
}

.faq-view-not-found-img-container:hover {
    filter: hue-rotate(90deg); /* adjust the hue rotation angle based on your needs */
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
}

@keyframes change-gradient {
    0% {
        background: linear-gradient(45deg, #a54ba3, #8254a4, #4a5fa4, #4a8ca4, #4aa490, #4ba54b, #8ca44a, #a4904a, #a54b4b);
        filter: hue-rotate(240deg);
        /*transform: scale(1);*/
    }
    50% {
        background: linear-gradient(45deg, #a54b4b, #a4904a, #8ca44a, #4ba54b, #4aa490, #4a8ca4, #4a5fa4, #8254a4, #a54ba3);
        filter: hue-rotate(140deg);
        transform: translateY(20px);
    }
    100% {
        background: linear-gradient(45deg, #e712e2, #8f127a, #1236a8, #1d89b0, #4aa490, #4ba54b, #8ca44a, #a4904a, #a54b4b);
        filter: hue-rotate(45deg);
        /*transform: scale(1);*/
    }
}



.faq-view-main-content-div {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    border-radius: 20px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: gradientChange 5s ease-in-out infinite alternate;
    max-width: 800px;
}

.faq-view-main-content-div:hover {
    animation-play-state: paused;
}

@keyframes gradientChange {
    0% {
        background: linear-gradient(to right, #8e2de2, #4a00e0);
    }
    50% {
        background: linear-gradient(to right, #7d4eb6, #7805ef);
    }
    100% {
        background: linear-gradient(to right, #4a00e0, #8e2de2);
    }
}

.faq-view-prompt-span {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.faq-view-search-post-div {
    display: flex;
    align-items: center;
}

.faq-view-search-field {
    width: 100%;
    max-width: 500px;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-right: 10px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.faq-view-search-field:focus {
    background-color: #fff;
}

.faq-view-search-field:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
}

.faq-view-post-new-faq {
    font-size: 3rem;
    color: #d516a9;
    background-color: #520eda;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: spin 5s linear infinite;
}

.faq-view-post-new-faq:hover {
    background-color: #38b744;
    transform: translateY(-2px);
    animation-play-state: paused;
}

.faq-view-main-content-div:hover .faq-view-post-new-faq {
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/* Responsive CSS */
@media screen and (max-width: 768px) {
    .faq-view-not-found-img-container {
        max-width: 350px; /* Adjust the size based on your needs */
        border-radius: 10%;
    }

    .faq-view-not-found-img {
        border-radius: 30px;
        max-height: 250px; /* Adjust the size based on your needs */
    }
}


