.forgot-password-form-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #e83e8c, #ffce31);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.forgot-password-form-view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    border-radius: 1.5rem;
    animation: gradient 15s ease infinite;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.forgot-password-form-view-content:hover {
    transform: scale(1.04);
}

.forgot-password-form-view-h1 {
    margin: 1rem 0;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.forgot-password-form-view-h1:hover {
    background: -webkit-linear-gradient(left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.forgot-password-form-view-span {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.forgot-password-form-view-span:hover {
    color: #ffbe0b;
}

.forgot-password-form-view-email-field {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.forgot-password-form-view-submit-button {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.forgot-password-form-view-submit-button:hover,
.forgot-password-form-view-submit-button:focus {
    background-color: #800080;
    outline: none;
}

.forgot-password-router-link {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.forgot-password-router-link:hover,
.forgot-password-router-link:focus {
    color: #ffffff;
    background-color: #ff9800;
    outline: none;
}

.forgot-password-router-link:active {
    background-color: #ff5722;
}
