/* Default styles for the button */
.forgot-password-router-link {
    background-color: #6192c9;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border: none;
}

/* Style for the button on hover */
.forgot-password-router-link:hover {
    background-color: #ff7200;
    transition: background-color 0.4s ease;
}

.forgot-password-submit-button {
    background-color: #075607;
    color: #fff;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border: none;
}

/* Style for the button on hover */
.forgot-password-submit-button:hover {
    background-color: #d5165f;
    transition: background-color 0.4s ease;
}
