/* Style the overall vertical layout */
.r-v-registration-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #75ebd5, #9face6);
}

/* Style the registration form container */
.r-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 560px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(120deg, #f6d365 0%, #41c4ee 100%);
    background-size: 400% 400%;
    transition: background-position 0.5s ease;
}

.r-div:hover {
    transform: scale(1.0134);
    transition: all 0.6s ease-in-out;
    background-position: 100% 0;
}

/* Style the form layout and its fields */
.r-v-form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.r-v-text-field,
.r-v-password-field,
.r-v-email-field {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #404040;
}

.r-v-confirm-password-field {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #404040;
}

.r-v-text-field::placeholder,
.r-v-password-field::placeholder,
.r-v-email-field::placeholder {
    color: #b3b3b3;
}

/* Style the register button */
.r-v-button {
    width: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #5dbb63;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.r-v-button:hover {
    background-color: #e900f9;
}

.r-v-h3 {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.r-v-h3:hover {
    color: #8200ff;
}

/* Writing css for confirmation animation */
.success-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--lumo-primary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    animation: change-background-color 10s infinite;
    position: relative;
}

.success-card::before {
    /*content: url('https://cdn-icons-png.flaticon.com/512/190/190411.png');*/
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
}

@keyframes change-background-color {
    0% {
        background-color: var(--lumo-primary-color);
    }
    25% {
        background-color: #8E44AD;
    }
    50% {
        background-color: #E74C3C;
    }
    75% {
        background-color: #27AE60;
    }
    100% {
        background-color: var(--lumo-primary-color);
    }
}
