.ac-verify {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, #d7a111, #FF9800, #fd4e17);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac-verify-card {
    border-radius: 2em;
    animation: ac-verify-card-colors 4.5s ease-in-out infinite;
    background-color: #f9a9d8;
    padding: 2rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.ac-verify-card:hover {
    animation-play-state: paused;
    transform: scale(1.01);
    transition: transform 0.6s ease-in-out;
}

.ac-verify-icon {
    animation: ac-verify-icon-colors 13s linear infinite;
    font-size: 64px;
}

.ac-verify-icon:hover {
    /*animation-play-state: paused;*/
    transform: rotate(720deg);
    transition: transform 0.99s ease-in-out;
}

.ac-verify-hl-s {
    align-items: center;
    justify-content: center;
}

.ac-verify-router-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.ac-verify-router-link:hover {
    color: #a824d3;
    font-size: x-large;
}

@keyframes ac-verify-card-colors {
    0% {
        background-color: #f9a9d8;
    }
    7.69% {
        background-color: #d3a3e6;
    }
    15.38% {
        background-color: #a7a0f2;
    }
    23.07% {
        background-color: #87b0d6;
    }
    30.76% {
        background-color: #8ecee4;
    }
    38.46% {
        background-color: #e5c9b7;
    }
    46.15% {
        background-color: #fbda61;
    }
    53.84% {
        background-color: #d6c37b;
    }
    61.53% {
        background-color: #f2c2a0;
    }
    69.23% {
        background-color: #f5d5b5;
    }
    76.92% {
        background-color: #d6b3b6;
    }
    84.61% {
        background-color: #f2b2a7;
    }
    92.3% {
        background-color: #f9a9d8;
    }
    100% {
        background-color: #f9a9d8;
    }
}

.ac-verify-card h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.ac-verify-card h3:hover {
    color: #ff00c1;
    font-size: xx-large;
}

@keyframes ac-verify-icon-colors {
    7.69% {
        color: #E57373;
    }
    15.38% {
        color: #BA68C8;
    }
    23.07% {
        color: #4DD0E1;
    }
    30.76% {
        color: #4DB6AC;
    }
    38.46% {
        color: #81C784;
    }
    46.15% {
        color: #7986CB;
    }
    53.84% {
        color: #F06292;
    }
    61.53% {
        color: #FF8A65;
    }
    69.23% {
        color: #A1887F;
    }
    75% {
        color: #A1887F;
    }
    83.33% {
        color: #4FC3F7;
    }
    91.67% {
        color: #9CCC65;
    }
    100% {
        color: #d23030;
    }
}

/* Unsuccessful view */
.ac-unsuccessful-card {
    position: center;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 22px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #FFA500, #FF4500);
    animation: rainbow-background 15s linear infinite;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.7s ease-in-out;
}

.ac-unsuccessful-card:hover {
    transform: rotateY(-360deg);
}

.ac-unsuccessful-card .ac-front, .ac-unsuccessful-card .ac-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ac-unsuccessful-card .ac-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(90deg);
}

.ac-unsuccessful-card .ac-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(-360deg);
}

.ac-un-s-hl {
    margin-bottom: 20px;
}

.ac-warning-1,
.ac-warning-2,
.ac-warning-3 {
    font-size: 6rem;
    animation: spin 3.5s linear infinite;
}

.ac-warning-1:hover,
.ac-warning-2:hover,
.ac-warning-3:hover {
    animation-play-state: paused;
    color: #f30961;
}

.ac-warning-1 {
    color: #FF0000;
}

.ac-warning-2 {
    color: #0000FF;
}

.ac-warning-3 {
    color: #8A2BE2;
}

.ac-un-h1 {
    font-size: 6rem;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.ac-un-span1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.ac-back h1 {
    font-size: 5rem;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.ac-back span {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.ac-back h1 span {
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rainbow-background {
    0% {
        background: linear-gradient(to bottom, #f9d29e, #fa595f);
    }
    16.66% {
        background: linear-gradient(to bottom, #fc595f, #92f37d);
    }
    33.33% {
        background: linear-gradient(to bottom, #fad0c4, #ffe4e6);
    }
    50% {
        background: linear-gradient(to bottom, #ffe4e6, #a8dadc);
    }
    66.66% {
        background: linear-gradient(to bottom, #a8dadc, #577590);
    }
    83.33% {
        background: linear-gradient(to bottom, #577590, #f8961e);
    }
    100% {
        background: linear-gradient(to bottom, #ff8d00, #f9d29e);
    }
}
