.user-profile-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #e7effa, #dceeee);
    padding: 50px;
}

.user-profile-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-profile-main-div:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

.user-profile-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.user-profile-profile-pic:hover {
    transform: scale(1.1);
}

.user-profile-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #336699;
}

.user-profile-name:hover {
    color: #06b535;
}

.user-profile-email,
.user-profile-phone-number,
.user-profile-about-me-paragraph {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.user-profile-email:before,
.user-profile-about-me-paragraph:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://img.icons8.com/material/24/336699/email.png");
    background-repeat: repeat;
    background-position: center;
    margin-right: 5px;
}

.user-profile-phone-number:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://img.icons8.com/material/24/336699/phone.png");
    background-repeat: repeat;
    background-position: center;
    margin-right: 5px;
}

.user-profile-about-me-h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #336699;
}

.user-profile-about-me-h3:hover {
    color: #bf16f3;
}

.user-profile-about-me-paragraph {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    max-width: 750px;
}

.user-profile-about-me-paragraph:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://img.icons8.com/material/24/336699/user-male.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

/* Style the buttons */
.user-profile-button-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-edit-about-me-button, .user-profile-change-password-button, .user-profile-change-email-button {
    margin-right: 10px;
    background-color: #4285f4;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.user-profile-edit-about-me-button:hover, .user-profile-change-password-button:hover, .user-profile-change-email-button:hover {
    background-color: #3367d6;
}

.user-profile-email:hover:before,
.user-profile-about-me-paragraph:hover:before,
.user-profile-phone-number:hover:before {
    animation: spin 2s linear forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
