.ac-verify {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, #d7a111, #FF9800, #fd4e17);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac-verify-card {
    border-radius: 2em;
    animation: ac-verify-card-colors 4.5s ease-in-out infinite;
    background-color: #f9a9d8;
    padding: 2rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.ac-verify-card:hover {
    animation-play-state: paused;
    transform: scale(1.01);
    transition: transform 0.6s ease-in-out;
}

.ac-verify-icon {
    animation: ac-verify-icon-colors 13s linear infinite;
    font-size: 64px;
}

.ac-verify-icon:hover {
    /*animation-play-state: paused;*/
    transform: rotate(360deg);
    transition: transform 0.8s ease-in-out;
}

.ac-verify-hl-s {
    align-items: center;
    justify-content: center;
}

.ac-verify-router-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.ac-verify-router-link:hover {
    color: #a824d3;
    font-size: x-large;
}

@keyframes ac-verify-card-colors {
    0% {
        background-color: #f9a9d8;
    }
    7.69% {
        background-color: #d3a3e6;
    }
    15.38% {
        background-color: #a7a0f2;
    }
    23.07% {
        background-color: #87b0d6;
    }
    30.76% {
        background-color: #8ecee4;
    }
    38.46% {
        background-color: #e5c9b7;
    }
    46.15% {
        background-color: #fbda61;
    }
    53.84% {
        background-color: #d6c37b;
    }
    61.53% {
        background-color: #f2c2a0;
    }
    69.23% {
        background-color: #f5d5b5;
    }
    76.92% {
        background-color: #d6b3b6;
    }
    84.61% {
        background-color: #f2b2a7;
    }
    92.3% {
        background-color: #f9a9d8;
    }
    100% {
        background-color: #f9a9d8;
    }
}

.ac-verify-card h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.ac-verify-card h3:hover {
    color: #ff00c1;
    font-size:  xx-large;
}
@keyframes ac-verify-icon-colors {
    0% {
        color: #FFD54F;
    }
    7.69% {
        color: #E57373;
    }
    15.38% {
        color: #BA68C8;
    }
    23.07% {
        color: #4DD0E1;
    }
    30.76% {
        color: #4DB6AC;
    }
    38.46% {
        color: #81C784;
    }
    46.15% {
        color: #7986CB;
    }
    53.84% {
        color: #F06292;
    }
    61.53% {
        color: #FF8A65;
    }
    69.23% {
        color: #A1887F;
    }
    75% {
        color: #A1887F;
    }
    83.33% {
        color: #4FC3F7;
    }
    91.67% {
        color: #9CCC65;
    }
    100% {
        color: #FFB74D;
    }
}